In [31]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [32]:
%sql mysql+pymysql://root:ofge@localhost:3306/united_nations

In [33]:
%%sql

SELECT
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80'))]

## 1. What is the GDP per year for each country?
Calculate the GDP per year for each country using the Country_name, Time_period, and Est_gdp_in_billions columns.

In [30]:
%%sql
SELECT
    Country_name,
    Time_period,
    Est_gdp_in_billions
FROM 
    access_to_basic_services
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Kazakhstan', 2015, Decimal('184.39')),
 ('Kazakhstan', 2016, Decimal('137.28')),
 ('Kazakhstan', 2017, Decimal('166.81')),
 ('Kazakhstan', 2018, Decimal('179.34')),
 ('Kazakhstan', 2019, Decimal('181.67')),
 ('Kazakhstan', 2020, Decimal('171.08')),
 ('Kyrgyzstan', 2015, None),
 ('Kyrgyzstan', 2016, None),
 ('Kyrgyzstan', 2017, None),
 ('Kyrgyzstan', 2018, None)]

## 2. What are the rounded-off values of the Est_gdp_in_billions column?
When looking at many billion-dollar figures, the decimal places can be a little distracting. We can round off the numbers in the Est_gdp_in_billions column to make them more manageable.

Using the same query executed above, round off the values in the Est_gdp_in_billions column using the ROUND function.

In [15]:
%%sql
SELECT
    Country_name,
    Time_period,
    Est_gdp_in_billions,
    round(Est_gdp_in_billions) AS Rounded_Est_gdp_in_billions
FROM 
    access_to_basic_services
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Kazakhstan', 2015, Decimal('184.39'), Decimal('184')),
 ('Kazakhstan', 2016, Decimal('137.28'), Decimal('137')),
 ('Kazakhstan', 2017, Decimal('166.81'), Decimal('167')),
 ('Kazakhstan', 2018, Decimal('179.34'), Decimal('179')),
 ('Kazakhstan', 2019, Decimal('181.67'), Decimal('182')),
 ('Kazakhstan', 2020, Decimal('171.08'), Decimal('171')),
 ('Kyrgyzstan', 2015, None, None),
 ('Kyrgyzstan', 2016, None, None),
 ('Kyrgyzstan', 2017, None, None),
 ('Kyrgyzstan', 2018, None, None)]

## 3. What is the logarithm of GDP for each country over the time period?
In order to calculate the growth rate of GDP over the time period, we can use the logarithm of GDP. This is because using the logarithm allows for easier comparison and analysis of growth rates with more digestible representations of larger numbers. Logarithmic transformations capture proportional changes rather than absolute changes, which is often more meaningful when analysing economic growth rates.

Calculate the logarithmic of the Est_gdp_in_billions column using the LOG function.

In [22]:
%%sql
SELECT
    Country_name,
    Time_period,
    Est_gdp_in_billions,
    round(Est_gdp_in_billions) AS Rounded_Est_gdp_in_billions,
    log(Est_gdp_in_billions) AS Log_Est_gdp_in_billions
FROM 
    access_to_basic_services
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Kazakhstan', 2015, Decimal('184.39'), Decimal('184'), 5.217053079717073),
 ('Kazakhstan', 2016, Decimal('137.28'), Decimal('137'), 4.922022635739652),
 ('Kazakhstan', 2017, Decimal('166.81'), Decimal('167'), 5.116855440165964),
 ('Kazakhstan', 2018, Decimal('179.34'), Decimal('179'), 5.189283445523902),
 ('Kazakhstan', 2019, Decimal('181.67'), Decimal('182'), 5.202191854450653),
 ('Kazakhstan', 2020, Decimal('171.08'), Decimal('171'), 5.142131283358708),
 ('Kyrgyzstan', 2015, None, None, None),
 ('Kyrgyzstan', 2016, None, None, None),
 ('Kyrgyzstan', 2017, None, None, None),
 ('Kyrgyzstan', 2018, None, None, None)]

## 4. What is the square root of GDP for each country over the time period?
Alternatively, to get a similar effect, we could use the SQRT function to calculate the square roots of the values in the Est_gdp_in_billions column in order to get a smaller representation of these values.

Calculate the square root of the Est_gdp_in_billions column using the SQRT function.

In [27]:
%%sql

SELECT
    Country_name,
    Time_period,
    round(Est_gdp_in_billions) AS Rndd_Est_gdp_in_billions,
    log(Est_gdp_in_billions) AS Log_Est_gdp_in_billions,
    sqrt(Est_gdp_in_billions) AS SQRT_Est_gdp_in_billions
FROM 
    access_to_basic_services
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Kazakhstan', 2015, Decimal('184'), 5.217053079717073, 13.579027947537334),
 ('Kazakhstan', 2016, Decimal('137'), 4.922022635739652, 11.716654812701448),
 ('Kazakhstan', 2017, Decimal('167'), 5.116855440165964, 12.915494570476191),
 ('Kazakhstan', 2018, Decimal('179'), 5.189283445523902, 13.391788528796294),
 ('Kazakhstan', 2019, Decimal('182'), 5.202191854450653, 13.478501400378308),
 ('Kazakhstan', 2020, Decimal('171'), 5.142131283358708, 13.079755349393963),
 ('Kyrgyzstan', 2015, None, None, None),
 ('Kyrgyzstan', 2016, None, None, None),
 ('Kyrgyzstan', 2017, None, None, None),
 ('Kyrgyzstan', 2018, None, None, None)]